<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main">Strona Główna</a>
    <a href="/contact">Kontakt</a>
    <a href="/addUser" th:if="${role?.name() == 'ADMIN'}">Dodaj użytkownika</a>
    <a href="/login" th:if="${logged == false}">Zaloguj</a>
    <a href="/logout" th:if="${logged == true}">Wyloguj</a>
</div>

<img src="/userLogo.png" alt="Logo" id="logo" th:fragment="logo">
</body>
</html>